<div class="dashboard">
    <div class="navbar" fxLayout="row" fxLayoutAlign="space-evenly center">
                 
        
            <div class="logo" fxFlex="10" >
                <img src="../../assets/img/jaks_logo.svg" routerLink = "" routerLinkActive = "active">
            </div>
            <div fxFlex="90" class="actionbar" fxLayout="row" fxLayoutAlign="space-evenly start">
                <div class="isikud"><h2><a routerLink = "/isikud" routerLinkActive = "active">Isikud</a></h2></div>
                <div class="dokumendid"><h2><a routerLink = "/dokumendid" routerLinkActive = "active">Dokumendid</a></h2></div>
                <div class="toimikud"><h2><a routerLink = "/toimikud" routerLinkActive = "active">Toimikud</a></h2></div>
                <div class="ajaarvestus"><h2><a routerLink = "/ajaarvestus" routerLinkActive = "active">Ajaarvestus</a></h2></div>
                <div class="user-panel">
                    <p>ikoonid*3</p>
                </div>
            </div>
    </div>
</div>