:host{
    display: block;
    left: 0;
    font-size: 12px;
}

.otsing{
    height: 20px;
    mat-form-field{
        input{
            font-size: 20px;
        }
    }
    }

.lable {
    color: #FAFAFA;
    font-size: 12px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.3em 0px;}
