<h2 mat-dialog-title>Kalender</h2>

<mat-dialog-content>

    <mat-form-field>
        <input matInput
                placeholder="Sisesta sündmus"
               formControlName="Task">

              
    </mat-form-field>
    <hr>
    <!-- <ul *ngFor="let item of dataArray">
        <li>{{item.Task}}</li>
    </ul> -->
    <div class="calendar-wrapper">
        <mat-calendar [dateClass]="dateClass()" [selected]="selectedDate" #calendar [(selected)]="selectedDate">
        </mat-calendar>
    </div>
 
</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>